<h2>Welcome to Tic Tac Toe </h2>
<p>
  <%= link_to "Game Options", new_game_path, class: "btn btn-primary btn-lg" %>
</p>
<table class="table table-bordered">
  <tr>
    <th>Information</th>
    <th>Data</th>
  </tr>
  <tr class="success">
    <td>Games Played</td>
    <td>0</td>
  </tr>
  <tr class="active">
    <td>Users Online</td>
    <td>0</td>
  </tr>
  <tr class="danger">
    <td>Games Abandoned</td>
    <td>0</td>
  </tr>
</table>
