<table class="game-board">
  <tr class="row-1">
    <td class="cell-1"></td>
    <td class="cell-2"></td>
    <td class="cell-3"></td>
  </tr>
  <tr class="row-2">
    <td class="cell-1"></td>
    <td class="cell-2"></td>
    <td class="cell-3"></td>
  </tr>
  <tr class="row-3">
    <td class="cell-1"></td>
    <td class="cell-2"></td>
    <td class="cell-3"></td>
  </tr>
</table>
